.button{
    -fx-background-color : #F3F0E9;
    -fx-background-radius : 15;
    -fx-border-color : #F3F0E9;
    -fx-border-radius : 15;
    -fx-border-width : 2;
}

.button:hover{
    -fx-background-color : transparent;
    -fx-text-fill : #F3F0E9;
    -fx-cursor:hand;
}